«<!DOCTYPE html>
<html lang="es"> <!-- VISTA PARA MOSTRAR TODOS LOS PRODUCTOS -->
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los productos</h2>
			</div>
		
			<% products.forEach(product => { %>
				<div class="col-12 col-md-6 col-lg-3">
						<section class="product-box">
							<a href="/products/detail/<%= product.id %> ">
								<figure class="product-box_image">
									<img src="/images/products/<%= product.image %> " alt="imagen de producto"> <!-- product.image porque esa es la propiedad que esta en el json -->
								</figure>
								<article class="product-box_data">
									<h2>$<%= finalPrice(product.price, product.discount) %></h2> <!-- para mostrar el precio final calculando con el porcentaje de descuento que tiene cada producto -->
									<!-- toThousand p/agregar separador de miles y toFixed p/ quitar los decimales -->
				 					<% if (product.discount > 0) { %>
										<span><%= product.discount%>% OFF</span>	
									<% } %>
									<!-- para que el % de dto no se muestre en productos que no tienen descuento, sino se veia 0%. Condicional: si el % de desc es mayor a cero entonces se muestra la etiqueta que está en el span-->
						 			 
									
									<p><%= product.name %> </p> <!-- porque name es una de las propiedades en el json de productos -->
									<i class="fas fa-truck"></i>
								</article>
							</a>					
						</section>
					</div>				 
				<% }) %> 
		
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>